@font-face {
  font-family: "CeraPro";
  src: local("CeraPro"),
    url("./fonts/Cera-Pro-Regular.otf") format("truetype");
  font-weight: regular;
}

@font-face {
  font-family: "CeraPro";
  src: local("CeraPro"),
    url("./fonts/Cera-Pro-Bold.otf") format("truetype");
  font-weight: bold;
}